*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --border- : gainsboro;
}

.p-4{
    padding: 10px;
}
.pe-30{
    padding-right: 30px;
}




.container{
    width: 100%;
    background-color: aliceblue;
}

.d-flex{
    display: flex;
}

.justify-between{

    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.admin-butn2 a{
 
    font-weight: 700;
    background-color: green;
    height: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.admin-butn2 a:hover{
    box-shadow: green 0px 5px 15px;
    background-color: white;
    color: green;
}

.admin-butn2{
    border: none;
    background: transparent;
}


.side-bar{
width: 200px;
height: 100vh;
background-color: white;
border: 1px solid var(--border-);
overflow: hidden;
transition: width 0.5s;
padding: 0px 5px;

position: sticky;
top: 0px;
min-width: 50px;


}

@media (max-width:575px){
    .side-one a{
        display: none;
    }
}

.side-one{
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: cursive;
    font-weight: 700;
    transition: all 0.5s;

    
}
.side-one > i > img{
    width: 30px;
}

.side-one:hover{

    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}


.border{
    border: 1px solid var(--border-);
}

.admin-butn{
    width: 50px;
  transform: translateX(20px);
  padding: 0px;
  border: none;
  background: transparent;

}

.admin-butn img{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.admin-butn >i{
    font-size:25px
}

.hide-side{
    width: 50px;
    transition: width 0.5s;
}

.main{
    width: 100%;
   
}
.nav{
    height: 70px;
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0px;
}

.sub-main{
    border:1px solid red;
   
    flex-wrap: wrap;
}

.sub-main-one{

    width: 50%;
    height: 400px;
    padding: 20px;
}

.sub-main-user{
    width:100%;
    padding: 20px;
}

.admin-items{
    border-radius: 20px;
    border: 1px solid var(--border-);
    height: 100%;
    background-color: white;
    padding: 20px;
}

@media(max-width:991px){
    .sub-main-one{
        width: 100%;
    }

}


.fonts{
    font-size: calc(10vw - 10px);
}


.admin-items-users{

    margin: 10px;
    display: flex;
    border-radius: 10px ;
    background-color:azure;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
justify-content: start;
    flex-wrap: wrap;
}

.admin-items-users div{
    width:  20%;
    padding: 5px 15px;
    font-family:cursive;
    letter-spacing: 2px;

    display: flex;
    gap: 40px;
    
}

.admin-items-users div:first-child{
    width: 5%;
}
.admin-items-users div:last-child{
    width: 10%;
}

@media (max-width:991px){
    .w1{
        width: 100% !important;
    }
    .w2{
        width: 80% !important;
    }
}


.username > img{
    width:30px;
    border-radius: 50%;
}

.table{
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
    padding: 20px;
}
.table th{
    text-align: start;
    
}

.table td input{
 padding: 6px 10px;
}

.table td{
    padding: 8px 0px;
}

.table button{
    padding:6px 10px;
    box-shadow: 1px 1px 5px green;
    color: white;
    background-color: green;
}

.username > a{
 padding: 3px 0px 0px 3px;
}
.username > a:hover{
    background-color: white;
    border-radius: 10px;
   
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.username  > a > img{
    width: 30px;
}

.username > a:first-child img{
    padding: 3px;
}