<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <script src="../js/bootstrap.bundle.min.js"></script>

</head>

<body>

  <%
  if(info[0]){
    %>
      
    <div style="width:300px" class="alert position-fixed top-0 end-0 m-4 alert-info border-0 shadow alert-dismissible fade show" role="alert">
         <%= info[0] %>
          <button type="button" class="btn-close btn" data-bs-dismiss="alert" aria-label="Close"></button>
          <div class="w-100 bg-info p-1 position-absolute start-0 bottom-0"></div>
        </div>
  
      <%
  }
  else{
    %>
    <div></div>
    <%
  }
  %>


  


  <div class="signup-container">
    <form class="signup-form" action="/user/signing" method="post">
      <h2 class="">Sign Up</h2>
      <!-- <input type="text" placeholder="Username" required name="username"> -->
      <input type="text" placeholder="username" required name="username">
      <input type="password" placeholder="Password" required name="password">
      <!-- <input type="number" placeholder="Number" required name="number"> -->
       <a href="/user/otp">forget password</a>
      <button type="submit">Sign Up</button>
    </form>
  </div>
</body>

</html>