<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>getting otp</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
  <div class="signup-container">
    <form class="signup-form" action="/user/otp" method="post">
      <h2 class="">Get Otp</h2>
      <!-- <input type="text" placeholder="Username" required name="username"> -->
      <input type="email" placeholder="email" required name="email">
      <button type="submit">Send</button>
    </form>
  </div>
</body>

</html>