<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    
<div class="row border p-5">
    <form action="/user/signup" method="post">
        <input class="font-control"  placeholder="Username" id="username"/>
        <label for="username" class="form-label"></label>
        <br/>
        <br/>
        <input class="font-control"  placeholder="Username" id="username"/>
        <label for="username" class="form-label"></label>
        <br/>
        <br/>
        <input class="font-control"  placeholder="Username" id="username"/>
        <label for="username" class="form-label"></label>
        <br/>
        <br/>
    </form>
</div>

</body>
</html>